:where(.f, .col, .row) {
  display: var(--f-d, flex);
  flex-direction:
    var(--f-fd--sm,
      var(--f-fd));

  column-gap:
    var(--f-col-gap--sm,
      var(--f-gap--sm,
        var(--f-col-gap,
          var(--f-gap,
            clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));
  row-gap:
    var(--f-row-gap--sm,
      var(--f-gap--sm,
        var(--f-row-gap,
          var(--f-gap,
            clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));

  align-items:
    var(--f-ai--sm,
      var(--f-ai));
  justify-content:
    var(--f-jc--sm,
      var(--f-jc));
  align-content:
    var(--f-ac--sm,
      var(--f-ac));

  flex-wrap:
    var(--f-fw--sm,
      var(--f-fw, wrap));

  :not(.g, .sg, .sgc):has(> &) {
    container-name: fp;
    container-type: inline-size;
    contain: inline-size layout;
  }

  @container (669.99px <=width <=999.99px) {

    flex-direction:
      var(--f-fd--md,
        var(--f-fd));

    column-gap:
      var(--f-col-gap--md,
        var(--f-gap--md,
          var(--f-col-gap,
            var(--f-gap,
              clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));
    row-gap:
      var(--f-row-gap--md,
        var(--f-gap--md,
          var(--f-row-gap,
            var(--f-gap,
              clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));

    align-items:
      var(--f-ai--md,
        var(--f-ai));
    justify-content:
      var(--f-jc--md,
        var(--f-jc));
    align-content:
      var(--f-ac--md,
        var(--f-ac));

    flex-wrap:
      var(--f-fw--md,
        var(--f-fw));
  }

  @container (width > 999.99px) {

    flex-direction:
      var(--f-fd--lg,
        var(--f-fd));

    column-gap:
      var(--f-col-gap--lg,
        var(--f-gap--lg,
          var(--f-col-gap,
            var(--f-gap,
              clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));
    row-gap:
      var(--f-row-gap--lg,
        var(--f-gap--lg,
          var(--f-row-gap,
            var(--f-gap,
              clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem)))));

    align-items:
      var(--f-ai--lg,
        var(--f-ai));
    justify-content:
      var(--f-jc--lg,
        var(--f-jc));
    align-content:
      var(--f-ac--lg,
        var(--f-ac));

    flex-wrap:
      var(--f-fw--lg,
        var(--f-fw));
  }

  :where(& > *, & > .fc) {
    flex-grow: var(--fc-grow--sm, var(--fc-grow));
    flex-shrink: var(--fc-shrink--sm, var(--fc-shrink));
    flex-basis: var(--fc-basis--sm, var(--fc-basis));

    align-self: var(--fc-as--sm, var(--fc-as));
    order: var(--fc-o--sm, var(--fc-o));

    margin-inline-start: var(--fc-mis--sm, var(--fc-mis, var(--fc-mi--sm, var(--fc-mi))));
    margin-inline-end: var(--fc-mie--sm, var(--fc-mie, var(--fc-mi--sm, var(--fc-mi))));

    @container (669.99px <=width <=999.99px) {
      flex-grow: var(--fc-grow--md, var(--fc-grow));
      flex-shrink: var(--fc-shrink--md, var(--fc-shrink));
      flex-basis: var(--fc-basis--md, var(--fc-basis));

      align-self: var(--fc-as--md, var(--fc-as));
      order: var(--fc-o--md, var(--fc-o));

      margin-inline-start: var(--fc-mis--md, var(--fc-mis, var(--fc-mi--md, var(--fc-mi))));
      margin-inline-end: var(--fc-mie--md, var(--fc-mie, var(--fc-mi--md, var(--fc-mi))));
    }

    @container (width > 999.99px) {
      flex-grow: var(--fc-grow--lg, var(--fc-grow));
      flex-shrink: var(--fc-shrink--lg, var(--fc-shrink));
      flex-basis: var(--fc-basis--lg, var(--fc-basis));

      align-self: var(--fc-as--lg, var(--fc-as));
      order: var(--fc-o--lg, var(--fc-o));

      margin-inline-start: var(--fc-mis--lg, var(--fc-mis, var(--fc-mi--lg, var(--fc-mi))));
      margin-inline-end: var(--fc-mie--lg, var(--fc-mie, var(--fc-mi--lg, var(--fc-mi))));
    }

  }

}

:where(.f.col, .col) {
  --f-fd: column;
}

:where(.f.col--lg, .f.col--mdl, .col--lg, .col--mdl) {
  --f-fd--lg: column;
}

:where(.f.col--md, .f.col--smd, .f.col--mdl, .col--md, .col--smd, .col--mdl) {
  --f-fd--md: column;
}

:where(.f.col--sm, .f.col--smd, .col--sm, .col--smd) {
  --f-fd--sm: column;
}

:where(.f.row, .row) {
  --f-fd: row;
}

:where(.f.row--lg, .f.row--mdl, .row--lg, .row--mdl) {
  --f-fd--lg: row;
}

:where(.f.row--md, .f.row--smd, .f.row--mdl, .row--md, .row--smd, .row--mdl) {
  --f-fd--md: row;
}

:where(.f.row--sm, .f.row--smd, .row--sm, .row--smd) {
  --f-fd--sm: row;
}


:where(.f.ai-s) {
  --f-ai: flex-start;
}

:where(.f.ai-s--lg, .f.ai-s--mdl) {
  --f-ai--lg: flex-start;
}

:where(.f.ai-s--md, .f.ai-s--smd, .f.ai-s--mdl) {
  --f-ai--md: flex-start;
}

:where(.f.ai-s--sm, .f.ai-s--smd) {
  --f-ai--sm: flex-start;
}

:where(.f.ai-c) {
  --f-ai: center;
}

:where(.f.ai-c--lg, .f.ai-c--mdl) {
  --f-ai--lg: center;
}

:where(.f.ai-c--md, .f.ai-c--smd, .f.ai-c--mdl) {
  --f-ai--md: center;
}

:where(.f.ai-c--sm, .f.ai-c--smd) {
  --f-ai--sm: center;
}

:where(.f.ai-e) {
  --f-ai: flex-end;
}

:where(.f.ai-e--lg, .f.ai-e--mdl) {
  --f-ai--lg: flex-end;
}

:where(.f.ai-e--md, .f.ai-e--smd, .f.ai-e--mdl) {
  --f-ai--md: flex-end;
}

:where(.f.ai-e--sm, .f.ai-e--smd) {
  --f-ai--sm: flex-end;
}

:where(.f.jc-s) {
  --f-jc: start;
}

:where(.f.jc-s--lg, .f.jc-s--mdl) {
  --f-jc--lg: start;
}

:where(.f.jc-s--md, .f.jc-s--smd, .f.jc-s--mdl) {
  --f-jc--md: start;
}

:where(.f.jc-s--sm, .f.jc-s--smd) {
  --f-jc--sm: start;
}

:where(.f.jc-c) {
  --f-jc: center;
}

:where(.f.jc-c--lg, .f.jc-c--mdl) {
  --f-jc--lg: center;
}

:where(.f.jc-c--md, .f.jc-c--smd, .f.jc-c--mdl) {
  --f-jc--md: center;
}

:where(.f.jc-c--sm, .f.jc-c--smd) {
  --f-jc--sm: center;
}

:where(.f.jc-e) {
  --f-jc: end;
}

:where(.f.jc-e--lg, .f.jc-e--mdl) {
  --f-jc--lg: end;
}

:where(.f.jc-e--md, .f.jc-e--smd, .f.jc-e--mdl) {
  --f-jc--md: end;
}

:where(.f.jc-e--sm, .f.jc-e--smd) {
  --f-jc--sm: end;
}

:where(.f.jc-sb) {
  --f-jc: space-between;
}

:where(.f.jc-sb--lg, .f.jc-sb--mdl) {
  --f-jc--lg: space-between;
}

:where(.f.jc-sb--md, .f.jc-sb--smd, .f.jc-sb--mdl) {
  --f-jc--md: space-between;
}

:where(.f.jc-sb--sm, .f.jc-sb--smd) {
  --f-jc--sm: space-between;
}


:where(.f > .as-s) {
  --fc-as: flex-start;
}

:where(.f > .as-s--lg, .f > .as-s--mdl) {
  --fc-as--lg: flex-start;
}

:where(.f > .as-s--md, .f > .as-s--smd, .f > .as-s--mdl) {
  --fc-as--md: flex-start;
}

:where(.f > .as-s--sm, .f > .as-s--smd) {
  --fc-as--sm: flex-start;
}

:where(.f > .as-c) {
  --fc-as: center;
}

:where(.f > .as-c--lg, .f > .as-c--mdl) {
  --fc-as--lg: center;
}

:where(.f > .as-c--md, .f > .as-c--smd, .f > .as-c--mdl) {
  --fc-as--md: center;
}

:where(.f > .as-c--sm, .f > .as-c--smd) {
  --fc-as--sm: center;
}

:where(.f > .as-e) {
  --fc-as: flex-end;
}

:where(.f > .as-e--lg, .f > .as-e--mdl) {
  --fc-as--lg: flex-end;
}

:where(.f > .as-e--md, .f > .as-e--smd, .f > .as-e--mdl) {
  --fc-as--md: flex-end;
}

:where(.f > .as-e--sm, .f > .as-e--smd) {
  --fc-as--sm: flex-end;
}

:where(.f > .mi-as) {
  --fc-mi: auto 0;
}

:where(.f > .mi-as--lg, .f > .mi-as--mdl) {
  --fc-mi--lg: auto 0;
}

:where(.f > .mi-as--md, .f > .mi-as--smd, .f > .mi-as--mdl) {
  --fc-mi--md: auto 0;
}

:where(.f > .mi-as--sm, .f > .mi-as--smd) {
  --fc-mi--sm: auto 0;
}

:where(.f > .mi-a) {
  --fc-mi: auto;
}

:where(.f > .mi-a--lg, .f > .mi-a--mdl) {
  --fc-mi--lg: auto;
}

:where(.f > .mi-a--md, .f > .mi-a--smd, .f > .mi-a--mdl) {
  --fc-mi--md: auto;
}

:where(.f > .mi-a--sm, .f > .mi-a--smd) {
  --fc-mi--sm: auto;
}

:where(.f > .mi-ae) {
  --fc-mi: 0 auto;
}

:where(.f > .mi-ae--lg, .f > .mi-ae--mdl) {
  --fc-mi--lg: 0 auto;
}

:where(.f > .mi-ae--md, .f > .mi-ae--smd, .f > .mi-ae--mdl) {
  --fc-mi--md: 0 auto;
}

:where(.f > .mi-ae--sm, .f > .mi-ae--smd) {
  --fc-mi--sm: 0 auto;
}

:where(.f.nowrap) {
  --f-fw: nowrap;
}

:where(.f.nowrap--lg, .f.nowrap--mdl) {
  --f-fw--lg: nowrap;
}

:where(.f.nowrap--md, .f.nowrap--smd, .f.nowrap--mdl) {
  --f-fw--md: nowrap;
}

:where(.f.nowrap--sm, .f.nowrap--smd) {
  --f-fw--sm: nowrap;
}

:where(.f.wrap) {
  --f-fw: wrap;
}

:where(.f.wrap--lg, .f.wrap--mdl) {
  --f-fw--lg: wrap;
}

:where(.f.wrap--md, .f.wrap--smd, .f.wrap--mdl) {
  --f-fw--md: wrap;
}

:where(.f.wrap--sm, .f.wrap--smd) {
  --f-fw--sm: wrap;
}


:where(.fc.o-1, .f > .o-1) {
  --fc-o: -3;
}

:where(.fc.o-1--lg, .f > .o-1--lg,
  .fc.o-1--mdl, .f > .o-1--mdl) {
  --fc-o--lg: -3;
}

:where(.fc.o-1--md, .f > .o-1--md,
  .fc.o-1--smd, .f > .o-1--smd,
  .fc.o-1--mdl, .f > .o-1--mdl) {
  --fc-o--md: -3;
}

:where(.fc.o-1--sm, .f > .o-1--sm,
  .fc.o-1--smd, .f > .o-1--smd) {
  --fc-o--sm: -3;
}

:where(.fc.o-2, .f > .o-2) {
  --fc-o: -2;
}

:where(.fc.o-2--lg, .f > .o-2--lg,
  .fc.o-2--mdl, .f > .o-2--mdl) {
  --fc-o--lg: -2;
}

:where(.fc.o-2--md, .f > .o-2--md,
  .fc.o-2--smd, .f > .o-2--smd,
  .fc.o-2--mdl, .f > .o-2--mdl) {
  --fc-o--md: -2;
}

:where(.fc.o-2--sm, .f > .o-2--sm,
  .fc.o-2--smd, .f > .o-2--smd) {
  --fc-o--sm: -2;
}

:where(.fc.o-3, .f > .o-3) {
  --fc-o: -3;
}

:where(.fc.o-3--lg, .f > .o-3--lg,
  .fc.o-3--mdl, .f > .o-3--mdl) {
  --fc-o--lg: -3;
}

:where(.fc.o-3--md, .f > .o-3--md,
  .fc.o-3--smd, .f > .o-3--smd,
  .fc.o-3--mdl, .f > .o-3--mdl) {
  --fc-o--md: -3;
}

:where(.fc.o-3--sm, .f > .o-3--sm,
  .fc.o-3--smd, .f > .o-3--smd) {
  --fc-o--sm: -3;
}

:where(.fc.o-9, .f > .o-9) {
  --fc-o: 9;
}

:where(.fc.o-9--lg, .f > .o-9--lg,
  .fc.o-9--mdl, .f > .o-9--mdl) {
  --fc-o--lg: 9;
}

:where(.fc.o-9--md, .f > .o-9--md,
  .fc.o-9--smd, .f > .o-9--smd,
  .fc.o-9--mdl, .f > .o-9--mdl) {
  --fc-o--md: 9;
}

:where(.fc.o-9--sm, .f > .o-9--sm,
  .fc.o-9--smd, .f > .o-9--smd) {
  --fc-o--sm: 9;
}

:where(.f, .col, .row):where(.gap) {
  --f-gap: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.gap--sm, .gap--smd) {
  --f-gap--sm: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.gap--md, .gap--smd, .gap--mdl) {
  --f-gap--md: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.gap--lg, .gap--mdl) {
  --f-gap--lg: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.row-gap) {
  --f-row-gap: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.row-gap--sm, .row-gap--smd) {
  --f-row-gap--sm: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.row-gap--md, .row-gap--smd, .row-gap--mdl) {
  --f-row-gap--md: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.row-gap--lg, .row-gap--mdl) {
  --f-row-gap--lg: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.col-gap) {
  --f-col-gap: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.col-gap--sm, .col-gap--smd) {
  --f-col-gap--sm: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.col-gap--md, .col-gap--smd, .col-gap--mdl) {
  --f-col-gap--md: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.col-gap--lg, .col-gap--mdl) {
  --f-col-gap--lg: var(--f-gap--m,
      clamp(1.25rem, 0.765vw + 1.097rem, 1.75rem));
}

:where(.f, .col, .row):where(.gap--s) {
  --f-gap: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.gap--s--sm, .gap--s--smd) {
  --f-gap--sm: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.gap--s--md, .gap--s--smd, .gap--s--mdl) {
  --f-gap--md: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.gap--s--lg, .gap--s--mdl) {
  --f-gap--lg: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.row-gap--s) {
  --f-row-gap: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.row-gap--s--sm, .row-gap--s--smd) {
  --f-row-gap--sm: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.row-gap--s--md, .row-gap--s--smd, .row-gap--s--mdl) {
  --f-row-gap--md: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.row-gap--s--lg, .row-gap--s--mdl) {
  --f-row-gap--lg: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.col-gap--s) {
  --f-col-gap: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.col-gap--s--sm, .col-gap--s--smd) {
  --f-col-gap--sm: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.col-gap--s--md, .col-gap--s--smd, .col-gap--s--mdl) {
  --f-col-gap--md: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.col-gap--s--lg, .col-gap--s--mdl) {
  --f-col-gap--lg: var(--f-gap--s,
      clamp(1.125rem, 0.574vw + 1.01rem, 1.5rem));
}

:where(.f, .col, .row):where(.gap--xs) {
  --f-gap: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.gap--xs--sm, .gap--xs--smd) {
  --f-gap--sm: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.gap--xs--md, .gap--xs--smd, .gap--xs--mdl) {
  --f-gap--md: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.gap--xs--lg, .gap--xs--mdl) {
  --f-gap--lg: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.row-gap--xs) {
  --f-row-gap: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.row-gap--xs--sm, .row-gap--xs--smd) {
  --f-row-gap--sm: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.row-gap--xs--md, .row-gap--xs--smd, .row-gap--xs--mdl) {
  --f-row-gap--md: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.row-gap--xs--lg, .row-gap--xs--mdl) {
  --f-row-gap--lg: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.col-gap--xs) {
  --f-col-gap: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.col-gap--xs--sm, .col-gap--xs--smd) {
  --f-col-gap--sm: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.col-gap--xs--md, .col-gap--xs--smd, .col-gap--xs--mdl) {
  --f-col-gap--md: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.col-gap--xs--lg, .col-gap--xs--mdl) {
  --f-col-gap--lg: var(--f-gap--xs,
      clamp(1rem, 0.382vw + 0.924rem, 1.25rem));
}

:where(.f, .col, .row):where(.gap--l) {
  --f-gap: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.gap--l--sm, .gap--l--smd) {
  --f-gap--sm: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.gap--l--md, .gap--l--smd, .gap--l--mdl) {
  --f-gap--md: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.gap--l--lg, .gap--l--mdl) {
  --f-gap--lg: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.row-gap--l) {
  --f-row-gap: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.row-gap--l--sm, .row-gap--l--smd) {
  --f-row-gap--sm: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.row-gap--l--md, .row-gap--l--smd, .row-gap--l--mdl) {
  --f-row-gap--md: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.row-gap--l--lg, .row-gap--l--mdl) {
  --f-row-gap--lg: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.col-gap--l) {
  --f-col-gap: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.col-gap--l--sm, .col-gap--l--smd) {
  --f-col-gap--sm: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.col-gap--l--md, .col-gap--l--smd, .col-gap--l--mdl) {
  --f-col-gap--md: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.col-gap--l--lg, .col-gap--l--mdl) {
  --f-col-gap--lg: var(--f-gap--l,
      clamp(1.5rem, 0.765vw + 1.347rem, 2rem));
}

:where(.f, .col, .row):where(.gap--xl) {
  --f-gap: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.gap--xl--sm, .gap--xl--smd) {
  --f-gap--sm: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.gap--xl--md, .gap--xl--smd, .gap--xl--mdl) {
  --f-gap--md: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.gap--xl--lg, .gap--xl--mdl) {
  --f-gap--lg: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.row-gap--xl) {
  --f-row-gap: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.row-gap--xl--sm, .row-gap--xl--smd) {
  --f-row-gap--sm: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.row-gap--xl--md, .row-gap--xl--smd, .row-gap--xl--mdl) {
  --f-row-gap--md: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.row-gap--xl--lg, .row-gap--xl--mdl) {
  --f-row-gap--lg: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.col-gap--xl) {
  --f-col-gap: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.col-gap--xl--sm, .col-gap--xl--smd) {
  --f-col-gap--sm: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.col-gap--xl--md, .col-gap--xl--smd, .col-gap--xl--mdl) {
  --f-col-gap--md: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}

:where(.f, .col, .row):where(.col-gap--xl--lg, .col-gap--xl--mdl) {
  --f-col-gap--lg: var(--f-gap--xl,
      clamp(2rem, 0.765vw + 1.847rem, 2.5rem));
}