:where(.lnk) {
    position: var(--lnk-position, relative);

    &:focus-within {
        outline: var(--lnk-outline-w, .25rem) solid var(--lnk-outline-c,
                var(--a, var(--theme-palette-color-1, currentColor)));
        outline-offset: var(--lnk-outline-o, var(--crd-outline-o, .25rem));
        border-radius: var(--lnk-rad, var(--crd-rad));
    }

    a:nth-of-type(1)::after {
        content: "";
        position: var(--lnk-af-position, absolute);
        inset: var(--lnk-af-inset, 0);
        z-index: var(--lnk-af-index, 3);
    }

    &:focus-within a:nth-of-type(1):focus {
        outline: none;
    }

}