:where(.m, .mb, .mbs) {
    margin-block-start: var(--mbs--sm, var(--mbs, var(--mb--sm, var(--mb, var(--m--sm, var(--m))))));

    @container (669.99px <=width <=999.99px) {
        margin-block-start: var(--mbs--md, var(--mbs, var(--mb--md, var(--mb, var(--m--md, var(--m))))));
    }

    @container (width >=1000px) {
        margin-block-start: var(--mbs--lg, var(--mbs, var(--mb--lg, var(--mb, var(--m--lg, var(--m))))));
    }
}

:where(.m, .mb, .mbe) {
    margin-block-end: var(--mbe--sm, var(--mbe, var(--mb--sm, var(--mb, var(--m--sm, var(--m))))));

    @container (669.99px <=width <=999.99px) {
        margin-block-end: var(--mbe--md, var(--mbe, var(--mb--md, var(--mb, var(--m--md, var(--m))))));
    }

    @container (width >=1000px) {
        margin-block-end: var(--mbe--lg, var(--mbe, var(--mb--lg, var(--mb, var(--m--lg, var(--m))))));
    }
}

:where(.m, .mi, .mis) {
    margin-inline-start: var(--mis--sm, var(--mis, var(--mi--sm, var(--mi, var(--m--sm, var(--m))))));

    @container (669.99px <=width <=999.99px) {
        margin-inline-start: var(--mis--md, var(--mis, var(--mi--md, var(--mi, var(--m--md, var(--m))))));
    }

    @container (width >=1000px) {
        margin-inline-start: var(--mis--lg, var(--mis, var(--mi--lg, var(--mi, var(--m--lg, var(--m))))));
    }
}

:where(.m, .mi, .mie) {
    margin-inline-end: var(--mie--sm, var(--mie, var(--mi--sm, var(--mi, var(--m--sm, var(--m))))));

    @container (669.99px <=width <=999.99px) {
        margin-inline-end: var(--mie--md, var(--mie, var(--mi--md, var(--mi, var(--m--md, var(--m))))));
    }

    @container (width >=1000px) {
        margin-inline-end: var(--mie--lg, var(--mie, var(--mi--lg, var(--mi, var(--m--lg, var(--m))))));
    }
}

:where(.mi.auto) {
    --mi: auto;
}

:where(.mis.auto) {
    --mis: auto;
}

:where(.mie.auto) {
    --mie: auto;
}

:where(.mbs.auto) {
    --mbs: auto;
}

:where(.mbe.auto) {
    --mbe: auto;
}