:where(.p, .pb, .pbs) {
    margin-block-start: var(--pbs--sm, var(--pbs, var(--pb--sm, var(--pb, var(--p--sm, var(--p))))));

    @container (669.99px <=width <=999.99px) {
        margin-block-start: var(--pbs--md, var(--pbs, var(--pb--md, var(--pb, var(--p--md, var(--p))))));
    }

    @container (width >=1000px) {
        margin-block-start: var(--pbs--lg, var(--pbs, var(--pb--lg, var(--pb, var(--p--lg, var(--p))))));
    }
}

:where(.p, .pb, .pbe) {
    margin-block-end: var(--pbe--sm, var(--pbe, var(--pb--sm, var(--pb, var(--p--sm, var(--p))))));

    @container (669.99px <=width <=999.99px) {
        margin-block-end: var(--pbe--md, var(--pbe, var(--pb--md, var(--pb, var(--p--md, var(--p))))));
    }

    @container (width >=1000px) {
        margin-block-end: var(--pbe--lg, var(--pbe, var(--pb--lg, var(--pb, var(--p--lg, var(--p))))));
    }
}

:where(.p, .pi, .pis) {
    margin-inline-start: var(--pis--sm, var(--pis, var(--pi--sm, var(--pi, var(--p--sm, var(--p))))));

    @container (669.99px <=width <=999.99px) {
        margin-inline-start: var(--pis--md, var(--pis, var(--pi--md, var(--pi, var(--p--md, var(--p))))));
    }

    @container (width >=1000px) {
        margin-inline-start: var(--pis--lg, var(--pis, var(--pi--lg, var(--pi, var(--p--lg, var(--p))))));
    }
}

:where(.p, .pi, .pie) {
    margin-inline-end: var(--pie--sm, var(--pie, var(--pi--sm, var(--pi, var(--p--sm, var(--p))))));

    @container (669.99px <=width <=999.99px) {
        margin-inline-end: var(--pie--md, var(--pie, var(--pi--md, var(--pi, var(--p--md, var(--p))))));
    }

    @container (width >=1000px) {
        margin-inline-end: var(--pie--lg, var(--pie, var(--pi--lg, var(--pi, var(--p--lg, var(--p))))));
    }
}

:where(.pb.xxxl, .pb--xxxl, .pb--3xl) {
    --pb: clamp(6rem, 3.059vw + 5.388rem, 8rem);
}

:where(.pb.xxl, .pb--xxl, .pb--2xl) {
    --pb: clamp(4rem, 3.059vw + 3.388rem, 6rem);
}

:where(.pb.xl, .pb--xl, .pb--lg) {
    --pb: clamp(3rem, 1.53vw + 2.694rem, 4rem);
}

:where(.pb.l, .pb--l) {
    --pb: clamp(2.5rem, 0.765vw + 2.347rem, 3rem);
}

:where(.pb--m, .p--m) {
    --pb: clamp(2rem, 0.765vw + 1.847rem, 2.5rem);
}

:where(.pb--s, .p--s) {
    --pb: clamp(1.5rem, 0.765vw + 1.347rem, 2rem);
}

:where(.pb.xs, .pb--xs, .p.xs, .p--xs) {
    --pb: clamp(1.25rem, 0.382vw + 1.174rem, 1.5rem);
}

:where(.pb.xxs, .pb--xxs, .pb--2xs, .p.xxs, .p--xxs, .p--2xs) {
    --pb: clamp(1rem, 0.382vw + 0.924rem, 1.25rem);
}

:where(.pi.xxl, .pi--xxl, .pi--2xl) {
    --pi: 7%;
}

:where(.pi.xl, .pi--xl) {
    --pi: 5%;
}

:where(.pi.l, .pi--l) {
    --pi: 3%;
}

:where(.pi--m, .p--m) {
    --pi: clamp(2rem, 0.765vw + 1.847rem, 2.5rem);
}

:where(.pi--s, .p--s) {
    --pi: clamp(1.5rem, 0.765vw + 1.347rem, 2rem);
}

:where(.pi.xs, .pi--xs, .p.xs, .p--xs) {
    --pi: clamp(1.25rem, 0.382vw + 1.174rem, 1.5rem);
}

:where(.pi.xxs, .pi--xxs, .pi--2xs, .p.xxs, .p--xxs, .p--2xs) {
    --pi: clamp(1rem, 0.382vw + 0.924rem, 1.25rem);
}

:where(.p.l, .p--l) {
    --p: clamp(2.5rem, 0.765vw + 2.347rem, 3rem);
}

:where(.p.xl, .p--xl) {
    --p: clamp(3rem, 1.53vw + 2.694rem, 4rem);
}

:where(.p.xxl, .p--xxl, .p--2xl) {
    --p: clamp(4rem, 3.059vw + 3.388rem, 6rem);
}